<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommandLineTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOSDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>linkList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>linklist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A8EFADE1CE45D1E008B950C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8EFAEB1CE45D9E008B950C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F27C1CEB05B4003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F29C1CEB05B5003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F2B51CEB06B2003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F2D11CEB06B2003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACBBB001CEBEE3100309F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACBBB1C1CEBEE3200309F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA22F58F1CDB983A0037BB29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DADA406A1C96554E00D693E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
