<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommandLineTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UICollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>chattingTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>chattingTableview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>codeOnly_chatting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>codeOnly_chattingTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>contacts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>iOSDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>linkList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>linklist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A3050A21CF6D82400F5C63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8EFADE1CE45D1E008B950C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A8EFAEB1CE45D9E008B950C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F27C1CEB05B4003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F29C1CEB05B5003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F2B51CEB06B2003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA2F2D11CEB06B2003F9155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA524041D056C5700E76CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA524211D056DD100E76CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA5FFAF1CF467DC00620D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA5FFC71CF467DC00620D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA5FFD21CF467DD00620D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA5FFE61CF4683E00620D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AAC50341D113F8400FBA39B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACBBB001CEBEE3100309F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACBBB1C1CEBEE3200309F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AFF3E001CFB1118000D7BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AFF3E1B1CFB1158000D7BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA22F58F1CDB983A0037BB29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DADA406A1C96554E00D693E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
