<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C语言之函数的嵌套.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>冒泡排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>基础 C 语言学习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>多头文件开发.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>数 组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>数组名 作为函数的参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>用函数 打印 任意指定行的之心啊 copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>用函数 打印 任意指定行的之心啊.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A0D94341CA53D3A0021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0D94411CA5475F0021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0D944B1CA5476C0021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0D94581CA5703B0021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0D94731CA698510021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0D94801CA6A1070021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0D948D1CA6A47E0021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0D949A1CA6BD630021A68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A6B73051CA41B0100611AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AC264CB1CA80A1100EB9E0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
